aiohttp==3.9.0b0
aiosignal==1.3.1
annotated-types==0.6.0
attrs==23.1.0
awsebcli==3.20.10
blessed==1.20.0
blis==0.7.11
botocore==1.31.70
build==1.0.3
catalogue==2.0.10
cement==2.8.2
certifi @ file:///private/tmp/python-certifi-20231008-5412-1rk63p1/certifi-2023.7.22
cffi @ file:///private/tmp/cffi-20230928-4569-10mse72/cffi-1.16.0
charset-normalizer==3.3.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmudict==1.0.15
colorama==0.4.3
confection==0.1.3
contourpy==1.2.0
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
dask==2023.12.0
docutils @ file:///private/tmp/docutils-20231015-5350-1xd6hrn/docutils-0.20.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.2/en_core_web_trf-3.7.2-py3-none-any.whl#sha256=dd56d80640411c2e81c3b0cfcb6068156a459c259ae11a4ea51c625c751e3e0a
filelock==3.13.1
fiona==1.9.5
fonttools==4.47.2
frozenlist==1.4.0
fsspec==2023.10.0
geopandas==0.14.2
h11==0.14.0
huggingface-hub==0.19.4
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.13.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
load-dotenv==0.1.0
locket==1.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.10
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.2.1
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
outcome==1.3.0.post0
packaging @ file:///private/tmp/python-packaging-20231006-5655-bckgbi/packaging-23.2
pandas==2.1.2
partd==1.4.1
pathspec==0.10.1
pillow==10.2.0
posextract==1.2.3
preshed==3.0.9
psutil @ file:///private/tmp/python-psutil-20231015-5276-sjz8wa/psutil-5.9.6
pycparser @ file:///private/tmp/pycparser-20230831-5825-v2kl0l/pycparser-2.21
pydantic==2.4.2
pydantic_core==2.10.1
Pygments @ file:///private/tmp/pygments-20231008-5407-1u4v80i/Pygments-2.16.1
PyMySQL==1.1.0
pyparsing==3.1.1
pyproj==3.6.1
pyproject_hooks==1.0.0
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20231006-5597-bdjg8x/PyYAML-6.0.1
regex==2023.10.3
requests==2.31.0
river==0.21.0
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
selenium==4.16.0
semantic-version==2.8.5
shapely==2.0.2
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
spacy==3.7.2
spacy-curated-transformers==0.2.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
syllables==1.0.8
sympy==1.12
termcolor==1.1.0
thinc==8.2.1
threadpoolctl==3.2.0
tk==0.1.0
tokenizers==0.15.0
toolz==0.12.0
torch==2.1.0
tqdm==4.66.1
transformers==4.36.0
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
wasabi==1.1.2
wcwidth==0.1.9
weasel==0.3.3
wsproto==1.2.0
yarl==1.9.3
zipp==3.17.0
